
@import '../dist/assets/owl.carousel.min.css';
@import '../dist/assets/owl.theme.default.min.css';
.owl-item.active > div:after {
    content: 'active';
}
.owl-item.center > div:after {
content: 'center';
}
.owl-item.active.center > div:after {
content: 'active center';
}
.owl-item > div:after {
font-family: sans-serif;
font-size: 24px;
font-weight: bold;
}