
@media (min-width: 768px) and (max-width: 1024px) {
    header #logo a img {
        width: 30%;
        height: auto;
    }

    header .menu-toggle {
        cursor: pointer;
        color: #ccc
    }
}