<div id="offcanvas-menu">
    <div class="clearfix mb20">
        <div class="close-resp">
            <div class="close-menu">
              <i class="fa fa-times"></i>
            </div>
        </div>
    </div>
    <div class="pos-rel">
        <ul class="l-contact">
          <li>
            <a href="#">
              <i class="fa fa-phone" aria-hidden="true"></i> 
              62-21 ...
            </a><br />
          </li>
          <li>
            <a href="#">
              <i class="fa fa-phone" aria-hidden="true"></i> 
              62-21 ...
            </a><br />
          </li>
          <li>
            <a href="#">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              admin@admin.com
            </a>
          </li>
        </ul>
    </div>
</div>