{% load static %}
<div class="slider-banner">
    <div class="bg-banner">
        <div class="item-banner">
            <div class="container">
                <div class="t-banner"></div>
                <div class="n-banner"></div>
                <div class="bdr-banner"></div>
            </div>
        </div>
        <!-- img -->
        <a href="#">
            <div class="img-banner"
                style="background: url('{% static 'images/banner_header/banner1.jpg' %}') center no-repeat;"></div>
        </a>
    </div>
    <div class="bg-banner">
        <div class="item-banner">
            <div class="container">
                <div class="t-banner"></div>
                <div class="n-banner"></div>
                <div class="bdr-banner"></div>
            </div>
        </div>
        <!-- img -->
        <a href="#">
            <div class="img-banner"
                style="background: url('{% static 'images/banner_header/banner2.jpg' %}') center no-repeat;"></div>
        </a>
    </div>
    <div class="bg-banner">
        <div class="item-banner">
            <div class="container">
                <div class="t-banner"></div>
                <div class="n-banner"></div>
                <div class="bdr-banner"></div>
            </div>
        </div>
        <!-- img -->
        <a href="#">
            <div class="img-banner"
                style="background: url('{% static 'images/banner_header/banner3.jpg' %}') center no-repeat;"></div>
        </a>
    </div>
    <div class="bg-banner">
        <div class="item-banner">
            <div class="container">
                <div class="t-banner"></div>
                <div class="n-banner"></div>
                <div class="bdr-banner"></div>
            </div>
        </div>
        <a href="#">
            <div class="img-banner"
                style="background: url('{% static 'images/banner_header/banner4.jpg' %}') center no-repeat;"></div>
        </a>
    </div>
</div>
<div class="abs-banner">
    <div class="container">
        <div class="nav-banner">
        </div>
    </div>
</div>