{% load static %}
            <div class="container">
                <div>
                    <div class="inline-block footerblock hidden-lg">
                        <div class="f5 hide-important">
                            <div class="t-footer">REQUEST <br /> BROCHURE</div>
                            <div class="img-mail">
                                <img src="{% static 'images/icons/mail.png' %}" alt="icon_mail" />
                            </div>
                            <form id="brochure2">
                                <input 
                                    type="text" 
                                    id="brochure_email2" 
                                    name="email" 
                                    class="form-control input-mail"
                                    placeholder="Email Anda" 
                                />
                                <input 
                                    type="text" 
                                    id="brochure_topic2" 
                                    name="brochure" 
                                    class="form-control input-mail"
                                    placeholder="Brosur yang diinginkan" 
                                />
                                <input 
                                    type="button" 
                                    id="brochure_submit2" 
                                    style="width: 180px;"
                                    class="button button--wapasha btn-small" 
                                    value="SUBMIT" 
                                />
                            </form>
                        </div>
                        <div class="f6">
                            <div class="s-footer">Subscribe to receieve upcoming promo.</div>
                            <form id="subscribe2">
                                <input 
                                    type="text" 
                                    id="name_subscribe2" 
                                    name="name" 
                                    class="form-control input-mail"
                                    placeholder="Nama Anda" 
                                />
                                <input 
                                    type="email" 
                                    id="email_subscribe2" 
                                    name="email" 
                                    class="form-control input-mail"
                                    placeholder="Email Anda"
                                />
                                <input 
                                    type="button" 
                                    id="email_submit2" 
                                    style="width: 180px;"
                                    class="button button--wapasha btn-small" 
                                    value="SUBSCRIBE" 
                                />
                            </form>
                        </div>
                    </div>

                    <div class="inline-block footerblock">
                        <div class="f1">
                            <div class="t-footer">PT TAUFIQ HT</div>
                            <ul class="l-footer">
                                <li><a class="">Penyelenggaraan Perjalanan Ibadah Umroh dan Travel yang telah terdaftar di Kementerian Agama RI.</a></li>
                            </ul>
                        </div>
                        <div class="f2">
                            <div class="t-footer">Informasi</div>
                            <ul class="l-footer">
                                <li><a href="{% url 'index-about' %}">Tentang Kami</a></li>
                                <!-- <li><a href="#">Promo</a></li> -->
                                <li><a href="{% url 'index-blog' %}">Blog</a></li>
                                <!-- <li><a href="#">Brosur</a></li> -->
                                <!-- <li><a href="#">Syarat & Ketentuan</a></li> -->
                                <!-- <li><a href="#">FAQ</a></li> -->
                                <!-- <li><a href="#">Hubungi Kami</a></li> -->
                            </ul>
                        </div>
                        <div class="f3">
                            <div class="t-footer">Hubungi Kami</div>
                            <ul class="l-footer">
                                <li>
                                    <a href="tel:620266213672">
                                        <i class="fa fa-phone" aria-hidden="true"></i> (0266) 213672
                                    </a>
                                </li>
                                <li>
                                    <a href="https://api.whatsapp.com/send?phone=6285863087879&text=Hi, taufiqht_travel">
                                        <i class="fa fa-whatsapp" aria-hidden="true"></i> 6285863087879
                                    </a>
                                </li>
                                <li>
                                    <a href="https://api.whatsapp.com/send?phone=6285797511206&text=Hi, taufiqht_travel">
                                        <i class="fa fa-whatsapp" aria-hidden="true"></i> 6285797511206
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:taufiqht29@gmail.com">
                                        <i class="fa fa-envelope" aria-hidden="true"></i> taufiqht29@gmail.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="f4">
                            
                        </div>
                    </div>
                    
                    <div class="inline-block footerblock hidden-xs hidden-sm hidden-md">
                        <div class="f5 hide-important">
                            <div class="img-mail">
                                <img src="{% static 'images/icons/mail.png' %}" />
                            </div>
                            <form id="brochure">
                                <input 
                                    type="text" 
                                    id="brochure_email" 
                                    name="email" 
                                    class="form-control input-mail"
                                    placeholder="Email Anda" 
                                />
                                <input 
                                    type="text" 
                                    id="brochure_topic" 
                                    name="brochure" 
                                    class="form-control input-mail"
                                    placeholder="Brosur yang diinginkan" 
                                />
                                <input 
                                    type="button" 
                                    id="brochure_submit" 
                                    style="width: 180px;"
                                    class="button button--wapasha btn-small" 
                                    value="SUBMIT" 
                                />
                            </form>
                        </div>
                        <div class="f6">
                            <div class="t-footer">NEWSLETTER SIGN UP</div>
                            <div class="s-footer">Subscribe to recieve upcoming promo.</div>
                            <form id="subscribe">
                                <input 
                                    type="text" 
                                    id="name_subscribe" 
                                    name="name" 
                                    class="form-control input-mail"
                                    placeholder="Nama Anda" 
                                />
                                <input 
                                    type="text" 
                                    id="email_subscribe" 
                                    name="email" 
                                    class="form-control input-mail"
                                    placeholder="Email Anda" 
                                />
                                <input 
                                    type="button" 
                                    id="email_submit" 
                                    style="width: 180px;"
                                    class="button button--wapasha btn-small" 
                                    value="SUBSCRIBE" 
                                />
                            </form>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="row inline">
                        <div class="col inline l-9 m-12 s-5">
                            <div class="inline-block v-middle block767">
                                <div id="logo">
                                    <a href="/">
                                        <img src="{% static 'images/news/logo-3.png' %}" alt="logo" />
                                    </a>
                                </div>
                            </div>
                            <div class="inline-block v-middle block767">
                                <ul class="footer-menu">
                                    <li>
                                        <a href="{% url 'index-package' %}">Umroh</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'index-travel' %}">Travel</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'index-blog' %}">Blog</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'index-about' %}">Tentang Kami</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col inline l-3 m-12 s-7">
                            <div class="h60">
                                <div class="tbl">
                                    <div class="cell">
                                        <div class="social-btns">
                                            <a 
                                                class="btn facebook" 
                                                target="_blank"
                                                href="https://www.facebook.com/thttourstravel/"
                                            >
                                                <i class="fa fa-facebook"></i>
                                            </a>

                                            <a
                                                class="btn instagram" 
                                                target="_blank"
                                                href="http://www.instagram.com/taufiqht_travel/"
                                            >
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /WhatsHelp.io widget -->
                        <div>
                            <script type="text/javascript">
                                (function () {
                                    var options = {
                                        whatsapp: "+6285863087879", // WhatsApp number
                                        call_to_action: "Message us", // Call to action
                                        button_color: "#000000", // Color of button
                                        position: "right", // Position may be 'right' or 'left'
                                    };
                                    var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
                                    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
                                    s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
                                    var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
                                })();
                            </script>
                        </div>
                        
                    </div>
                </div>
            </div>