{% load static %}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" id="myModal">
    <div class="custom-modal">
        <div class="modal-content">
            <div class="xtclose"
                style="color:#fff;position:absolute;top:5px;right:5px;width:40px;height:40px;padding:10px;background-color:rgba(255,255,255,.0);font-size:20px;line-height:20px;z-index:4000;background-image:url('lib/images/icons/close.png');background-repeat:no-repeat;background-position:6px 6px;cursor:pointer;">
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active ">
                        <a href="index.html" target="_blank">
                            <img class="img-responsive" src="{% static 'images/group/images/image1.jpg' %}" alt="promo">
                        </a>
                    </div>

                    <div class="item ">
                        <a href="index.html" target="_blank">
                            <img class="img-responsive" src="{% static 'images/group/images/image2.jpg' %}" alt="promo">
                        </a>
                    </div>

                    <div class="item ">
                        <a href="index.html" target="_blank">
                            <img class="img-responsive" src="{% static 'images/group/images/image3.jpg' %}" alt="promo">
                        </a>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="fa fa-2x fa-chevron-left custom_carousel_navigation navigation-left"
                        aria-hidden="true"></i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="fa fa-2x fa-chevron-right custom_carousel_navigation navigation-right"
                        aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-center {
        position: fixed;
        top: 10%;
        left: 10%;
        overflow: hidden;
    }
</style>
<script type="text/javascript">
    // $("btn[data-id=ATTR_COUNTRY] .dropdown-menu-open li[data-original-index=0]"){
    // 	$(this).addClass("disabled");
    // });
    $('#myModal').modal('show');

    function load_options(id, index, selected) {

        var ajax_path = "attractions/process_data.html";

        $.ajax({
            url: ajax_path,
            data: {
                index: index,
                id: id,
                selected: selected
            },
            type: 'POST',
            success: function (data) {

                $("#ATTR_" + index).html(data).selectpicker('refresh');

                // if(data=="")
                // {
                // 	$(".attraction-" + index).fadeOut();

                // 	if(index=="REGION")
                // 	{
                // 		load_options(id, 'CITY');
                // 	}
                // }
                // else
                // {
                // 	$(".attraction-" + index).fadeIn();
                // }

                $("#ATTR_" + index).trigger('change');

            }
        })
        return true;
    }
    $('.xtclose').bind('click', function () {
        $('#myModal').modal('hide');
    })
</script>