{% load static %}
                <div class="container">
                    <div class="box-exp">
                        <div class="t-exp">SECTION-2</div>
                        <div class="pos-rel">
                            <div class="nav-exp">
                                <div class="in-exp" data-id="1">Konten-1</div>
                                <div class="in-exp" data-id="2">Konten-2</div>
                                <div class="in-exp" data-id="3">Konten-3</div>
                                <div class="in-exp" data-id="4">Konten-4</div>
                                <div class="in-exp" data-id="5">Kontent-5</div>
                                <div class="in-exp" data-id="6">Kontent-6</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container full-tour">
                    <div class="arrow-exp hidden-sm hidden-md hidden-lg">
                        <div class="slider-left">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="slider-right">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="abs-arrow hidden-xs hidden-md hidden-sm">
                        <div class="arrow-exp">
                            <div class="slider-left">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="abs-arrow right-arrow hidden-xs hidden-md hidden-sm">
                        <div class="arrow-exp">
                            <div class="slider-right">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Konten-1 -->
                    <div class="content-show active" sticky-id="1">
                        <div class="for-exp" data-sticky_parent style="position: relative;">
                            <div class="content-exp">
                                <div class="row inline">

                                    <div class="col inline l-6 m-6 s-12" data-sticky_column>
                                        <div class="hidden-sm hidden-md hidden-lg">
                                            <div class="pad-exp">
                                                <div class="j-exp hidden-sm hidden-md hidden-lg hidden-xs">Konten-1 ?</div>
                                                <div class="b-exp">
                                                    <p>
                                                        Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                        Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                        mollit adipisicing.
                                                        Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                        labore Lorem commodo consequat.
                                                        Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum
                                                        sunt consequat dolor do.
                                                        Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat
                                                        dolor laborum in tempor.
                                                        Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                    </p>
                                                </div>
                                                <a href="#">
                                                    <button class="button button--wapasha btn-center">VIEW ALL</button>
                                                </a>
                                                <!-- img -->
                                                <div class="i-exp">
                                                    <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_531x456" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row inline min-10">
                                            <!-- Konten-1a -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-1a</div>
                                                            <div class="p-exp">
                                                                <p>
                                                                    <strong>Lorem</strong> Insum <span>Amet</span>
                                                                </p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- img -->
                                                        <div class="h-exp" style="background: url({% static 'images/section2/01_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Konten-1a -->
                                            <!-- Konten-1b -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-1b</div>
                                                            <div class="p-exp">
                                                                <p>
                                                                    <strong>Lorem</strong> Insum <span>Amet</span>
                                                                </p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="h-exp" style="background: url({% static 'images/section2/02_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Konten-1b -->
                                            <!-- Konten-1c -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-1c</div>
                                                            <div class="p-exp">
                                                                <p>
                                                                    <strong>Lorem</strong> Insum <span>Amet</span>
                                                                </p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="h-exp" style="background: url({% static 'images/section2/03_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Konten-1c -->
                                        </div>
                                    </div>

                                    <div class="h-content col inline l-6 m-6 s-12 xs30 hidden-xs" data-sticky_column>
                                        <div class="pad-exp">
                                            <div class="j-exp">Konten-1</div>
                                            <div class="b-exp">
                                                <p>
                                                    Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                    Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                    mollit adipisicing.
                                                    Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                    labore Lorem commodo consequat.
                                                    Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum sunt
                                                    consequat dolor do.
                                                    Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat dolor
                                                    laborum in tempor.
                                                    Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                </p>
                                            </div>
                                            <a href="#">
                                                <button class="button button--wapasha btn-center">LIHAT SEMUA</button>
                                            </a>
                                            <!-- img -->
                                            <div class="i-exp">
                                                <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_351x456" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Konten-1 -->
                    <!-- Konten-2 -->
                    <div class="content-show" sticky-id="2">
                        <div class="for-exp" data-sticky_parent style="position: relative;">
                            <div class="content-exp">
                                <div class="row inline">
                                    <div class="col inline l-6 m-6 s-12" data-sticky_column>
                                        <div class="hidden-sm hidden-md hidden-lg">
                                            <div class="pad-exp">
                                                <div class="j-exp hidden-sm hidden-md hidden-lg hidden-xs">Konten-2 ?</div>
                                                <div class="b-exp">
                                                    <p>
                                                        Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                        Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                        mollit adipisicing.
                                                        Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                        labore Lorem commodo consequat.
                                                        Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum
                                                        sunt consequat dolor do.
                                                        Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat
                                                        dolor laborum in tempor.
                                                        Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                    </p>
                                                </div>
                                                <a href="#">
                                                    <button class="button button--wapasha btn-center">VIEW ALL</button>
                                                </a>
                                                <!-- img -->
                                                <div class="i-exp">
                                                    <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_531x456" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row inline min-10">
                                            <!-- Konten-2a -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-2a</div>
                                                            <div class="p-exp">
                                                                <p>
                                                                    <strong>Lorem</strong> Insum <span>Amet</span>
                                                                </p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- img -->
                                                        <div class="h-exp" style="background: url({% static 'images/section2/04_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end Konten-2a -->
                                            <!-- konten-2b -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-2b</div>
                                                            <div class="p-exp">
                                                                <p><strong>Lorem</strong> Insum <span>Amet</span></p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- img -->
                                                        <div class="h-exp" style="background: url({% static 'images/section2/05_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end konten-2b -->
                                        </div>
                                    </div>

                                    <div class="h-content col inline l-6 m-6 s-12 xs30 hidden-xs" data-sticky_column>
                                        <div class="pad-exp">
                                            <div class="j-exp">Konten-2</div>
                                            <div class="b-exp">
                                                <p>
                                                    Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                    Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                    mollit adipisicing.
                                                    Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                    labore Lorem commodo consequat.
                                                    Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum sunt
                                                    consequat dolor do.
                                                    Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat dolor
                                                    laborum in tempor.
                                                    Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                </p>
                                            </div>
                                            <a href="#">
                                                <button class="button button--wapasha btn-center">LIHAT SEMUA</button>
                                            </a>
                                            <div class="i-exp">
                                                <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_531x456" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Konten-2 -->
                    <!-- Konten-3 -->
                    <div class="content-show" sticky-id="3">
                        <div class="for-exp" data-sticky_parent style="position: relative;">
                            <div class="content-exp">
                                <div class="row inline">
                                    <div class="col inline l-6 m-6 s-12" data-sticky_column>
                                        <div class="hidden-sm hidden-md hidden-lg">
                                            <div class="pad-exp">
                                                <div class="j-exp hidden-sm hidden-md hidden-lg hidden-xs">Konten-3 ?</div>
                                                <div class="b-exp">
                                                    <p>
                                                        Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                        Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                        mollit adipisicing.
                                                        Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                        labore Lorem commodo consequat.
                                                        Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum
                                                        sunt consequat dolor do.
                                                        Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat
                                                        dolor laborum in tempor.
                                                        Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                    </p>
                                                </div>
                                                <a href="#">
                                                    <button class="button button--wapasha btn-center">VIEW ALL</button>
                                                </a>
                                                <!-- img -->
                                                <div class="i-exp">
                                                    <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_531x456" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row inline min-10">
                                            <!-- Konten-3a -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-3a</div>
                                                            <div class="p-exp">
                                                                <p>
                                                                    <strong>Lorem</strong> Insum <span>Amet</span>
                                                                </p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- img -->
                                                        <div class="h-exp" style="background: url({% static 'images/section2/06_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end Konten-3a -->
                                            <!-- konten-3b -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-3b</div>
                                                            <div class="p-exp">
                                                                <p><strong>Lorem</strong> Insum <span>Amet</span></p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- img -->
                                                        <div class="h-exp" style="background: url({% static 'images/section2/07_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end konten-2b -->
                                        </div>
                                    </div>

                                    <div class="h-content col inline l-6 m-6 s-12 xs30 hidden-xs" data-sticky_column>
                                        <div class="pad-exp">
                                            <div class="j-exp">Konten-3</div>
                                            <div class="b-exp">
                                                <p>
                                                    Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                    Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                    mollit adipisicing.
                                                    Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                    labore Lorem commodo consequat.
                                                    Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum sunt
                                                    consequat dolor do.
                                                    Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat dolor
                                                    laborum in tempor.
                                                    Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                </p>
                                            </div>
                                            <a href="#">
                                                <button class="button button--wapasha btn-center">LIHAT SEMUA</button>
                                            </a>
                                            <div class="i-exp">
                                                <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_531x456" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Konten-3 -->
                    <!-- Konten-4 -->
                    <div class="content-show" sticky-id="4">
                        <div class="for-exp" data-sticky_parent style="position: relative;">
                            <div class="content-exp">
                                <div class="row inline">

                                    <div class="col inline l-6 m-6 s-12" data-sticky_column>
                                        <div class="hidden-sm hidden-md hidden-lg">
                                            <div class="pad-exp">
                                                <div class="j-exp hidden-sm hidden-md hidden-lg hidden-xs">Konten-4 ?</div>
                                                <div class="b-exp">
                                                    <p>
                                                        Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                        Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                        mollit adipisicing.
                                                        Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                        labore Lorem commodo consequat.
                                                        Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum
                                                        sunt consequat dolor do.
                                                        Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat
                                                        dolor laborum in tempor.
                                                        Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                    </p>
                                                </div>
                                                <a href="#">
                                                    <button class="button button--wapasha btn-center">VIEW ALL</button>
                                                </a>
                                                <!-- img -->
                                                <div class="i-exp">
                                                    <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_531x456" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row inline min-10">
                                            <!-- Konten-4a -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-4a</div>
                                                            <div class="p-exp">
                                                                <p>
                                                                    <strong>Lorem</strong> Insum <span>Amet</span>
                                                                </p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- img -->
                                                        <div class="h-exp" style="background: url({% static 'images/section2/08_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end Konten-4a -->
                                            <!-- Konten-4b -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-4b</div>
                                                            <div class="p-exp">
                                                                <p>
                                                                    <strong>Lorem</strong> Insum <span>Amet</span>
                                                                </p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="h-exp" style="background: url({% static 'images/section2/09_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end Konten-4b -->
                                        </div>
                                    </div>

                                    <div class="h-content col inline l-6 m-6 s-12 xs30 hidden-xs" data-sticky_column>
                                        <div class="pad-exp">
                                            <div class="j-exp">Konten-4</div>
                                            <div class="b-exp">
                                                <p>
                                                    Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                    Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                    mollit adipisicing.
                                                    Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                    labore Lorem commodo consequat.
                                                    Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum sunt
                                                    consequat dolor do.
                                                    Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat dolor
                                                    laborum in tempor.
                                                    Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                </p>
                                            </div>
                                            <a href="#">
                                                <button class="button button--wapasha btn-center">LIHAT SEMUA</button>
                                            </a>
                                            <!-- img -->
                                            <div class="i-exp">
                                                <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_531x456" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Konten-4 -->
                    <!-- Konten-5 -->
                    <div class="content-show" sticky-id="5">
                        <div class="for-exp" data-sticky_parent style="position: relative;">
                            <div class="content-exp">
                                <div class="row inline">
                                    <div class="col inline l-6 m-6 s-12" data-sticky_column>
                                        <div class="hidden-sm hidden-md hidden-lg">
                                            <div class="pad-exp">
                                                <div class="j-exp hidden-sm hidden-md hidden-lg hidden-xs">Konten-5 ?</div>
                                                <div class="b-exp">
                                                    <p>
                                                        Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                        Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                        mollit adipisicing.
                                                        Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                        labore Lorem commodo consequat.
                                                        Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum
                                                        sunt consequat dolor do.
                                                        Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat
                                                        dolor laborum in tempor.
                                                        Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                    </p>
                                                </div>
                                                <a href="#">
                                                    <button class="button button--wapasha btn-center">VIEW ALL</button>
                                                </a>
                                                <!-- img -->
                                                <div class="i-exp">
                                                    <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_531x456" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row inline min-10">
                                            <!-- Konten-5a -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-5a</div>
                                                            <div class="p-exp">
                                                                <p>
                                                                    <strong>Lorem</strong> Insum <span>Amet</span>
                                                                </p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- img -->
                                                        <div class="h-exp" style="background: url({% static 'images/section2/10_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end Konten-5a -->
                                            <!-- konten-5b -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-5b</div>
                                                            <div class="p-exp">
                                                                <p><strong>Lorem</strong> Insum <span>Amet</span></p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- img -->
                                                        <div class="h-exp" style="background: url({% static 'images/section2/11_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end konten-5b -->
                                        </div>
                                    </div>

                                    <div class="h-content col inline l-6 m-6 s-12 xs30 hidden-xs" data-sticky_column>
                                        <div class="pad-exp">
                                            <div class="j-exp">Konten-5</div>
                                            <div class="b-exp">
                                                <p>
                                                    Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                    Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                    mollit adipisicing.
                                                    Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                    labore Lorem commodo consequat.
                                                    Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum sunt
                                                    consequat dolor do.
                                                    Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat dolor
                                                    laborum in tempor.
                                                    Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                </p>
                                            </div>
                                            <a href="#">
                                                <button class="button button--wapasha btn-center">LIHAT SEMUA</button>
                                            </a>
                                            <div class="i-exp">
                                                <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_531x456" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Konten-5 -->
                    <!-- Konten-6 -->
                    <div class="content-show" sticky-id="6">
                        <div class="for-exp" data-sticky_parent style="position: relative;">
                            <div class="content-exp">
                                <div class="row inline">
                                    <div class="col inline l-6 m-6 s-12" data-sticky_column>
                                        <div class="hidden-sm hidden-md hidden-lg">
                                            <div class="pad-exp">
                                                <div class="j-exp hidden-sm hidden-md hidden-lg hidden-xs">Konten-6 ?</div>
                                                <div class="b-exp">
                                                    <p>
                                                        Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                        Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                        mollit adipisicing.
                                                        Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                        labore Lorem commodo consequat.
                                                        Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum
                                                        sunt consequat dolor do.
                                                        Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat
                                                        dolor laborum in tempor.
                                                        Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                    </p>
                                                </div>
                                                <a href="#">
                                                    <button class="button button--wapasha btn-center">VIEW ALL</button>
                                                </a>
                                                <!-- img -->
                                                <div class="i-exp">
                                                    <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_531x456" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row inline min-10">
                                            <!-- Konten-6a -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-6a</div>
                                                            <div class="p-exp">
                                                                <p>
                                                                    <strong>Lorem</strong> Insum <span>Amet</span>
                                                                </p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- img -->
                                                        <div class="h-exp" style="background: url({% static 'images/section2/12_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end Konten-6a -->
                                            <!-- konten-6b -->
                                            <div class="col inline l-6 m-6 s-12 min-10  bevyup_product wrapLimited">
                                                <div class=" item-exp mb20">
                                                    <a href="#">
                                                        <div class="overlay-exp"></div>
                                                        <div class="abs-exp">
                                                            <div class="n-exp">Konten-6b</div>
                                                            <div class="p-exp">
                                                                <p><strong>Lorem</strong> Insum <span>Amet</span></p>
                                                            </div>
                                                            <div class="tbl">
                                                                <div class="cell">
                                                                    <div class="v-exp">
                                                                        DETIL <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- img -->
                                                        <div class="h-exp" style="background: url({% static 'images/section2/13_image_350x322.jpg' %}) no-repeat top;"></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end konten-6b -->
                                        </div>
                                    </div>

                                    <div class="h-content col inline l-6 m-6 s-12 xs30 hidden-xs" data-sticky_column>
                                        <div class="pad-exp">
                                            <div class="j-exp">Konten-6</div>
                                            <div class="b-exp">
                                                <p>
                                                    Esse sunt sit ipsum exercitation labore aute ipsum sint pariatur.
                                                    Quis exercitation amet cillum aliquip labore deserunt ea sit proident sunt aute
                                                    mollit adipisicing.
                                                    Exercitation pariatur excepteur sint consectetur cillum aliqua ea labore magna
                                                    labore Lorem commodo consequat.
                                                    Do eiusmod labore deserunt veniam esse ullamco pariatur quis commodo laborum sunt
                                                    consequat dolor do.
                                                    Aliquip minim non minim officia nostrud tempor consectetur cupidatat consequat dolor
                                                    laborum in tempor.
                                                    Esse est ut reprehenderit et id. Do dolore incididunt mollit enim do.
                                                </p>
                                            </div>
                                            <a href="#">
                                                <button class="button button--wapasha btn-center">LIHAT SEMUA</button>
                                            </a>
                                            <div class="i-exp">
                                                <img src="{%  static 'images/section2/00_image_531x456.png' %}" alt="image_531x456" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Konten-6 -->
                </div>