{% load static %}
                <div class="container">
                    <div class="banner">
                        <div class="product-animated-bottom hidden-sm hidden-md hidden-lg">
                            <div class="t-blog">SECTION-5 ?</div>
                            <div class="b-blog">
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        Dignissimos architecto laborum ullam id earum quae,
                                        impedit modi blanditiis perferendis expedita repellat in.
                                        Aperiam repellendus quaerat, aut quidem architecto totam officia?
                                    </p>
                                </div>
                                <div>&nbsp;</div>
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        Dignissimos architecto laborum ullam id earum quae,
                                        impedit modi blanditiis perferendis expedita repellat in.
                                        Aperiam repellendus quaerat, aut quidem architecto totam officia?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row inline">
                            <!-- konten1 -->
                            <div class="col inline l-6 m-6 s-12 product-animated-bottom">
                                <div class="banner1">
                                    <div class="slider-home1">
                                        <div class="item">
                                            <a href="#">
                                                <div class="overlay-slider"></div>
                                                <div class="text">
                                                    <div class="t-slider">
                                                        Konten1
                                                    </div>
                                                    <div class="d-slider">created at</div>
                                                </div>
                                                <div class="img-banner1" style="background: url('{% static 'images/section5/01_image_1688x625.jpg' %}') no-repeat center;"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end konten1 -->
                            <div class="col inline l-6 m-6 s-12">
                                <div class="product-animated-bottom hidden-xs">
                                    <div class="t-blog">SECTION-5</div>
                                    <div class="b-blog">
                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                Dignissimos architecto laborum ullam id earum quae,
                                                impedit modi blanditiis perferendis expedita repellat in.
                                                Aperiam repellendus quaerat, aut quidem architecto totam officia?
                                            </p>
                                        </div>
                                        <div>&nbsp;</div>
                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                Dignissimos architecto laborum ullam id earum quae,
                                                impedit modi blanditiis perferendis expedita repellat in.
                                                Aperiam repellendus quaerat, aut quidem architecto totam officia?
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- konten slider-->
                                <div class="pos-slider">
                                    <div class="arrow-blog">
                                        <div class="slider-left">
                                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                        </div>
                                        <div class="slider-right">
                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="row inline">
                                        <div class="col inline l-6 m-6 s-6 product-animated-left resp-pad0">
                                            <div class="banner2">
                                                <div class="slider-home2">
                                                    <!-- konten2 -->
                                                    <div class="item">
                                                        <a href="#">
                                                            <div class="overlay-slider"></div>
                                                            <div class="text2">
                                                                <div class="t-slider">
                                                                    Konten2
                                                                </div>
                                                                <div class="d-slider">created at</div>
                                                            </div>
                                                            <div class="img-banner2" style="background: url('{% static 'images/section5/02_image_1688x625.jpg' %}') no-repeat center;"></div>
                                                        </a>
                                                    </div>
                                                    <!-- end konten2 -->
                                                    <!-- konten3 -->
                                                    <div class="item">
                                                        <a href="#">
                                                            <div class="overlay-slider"></div>
                                                            <div class="text2">
                                                                <div class="t-slider">
                                                                    Konten3
                                                                </div>
                                                                <div class="d-slider">created at</div>
                                                            </div>
                                                            <div class="img-banner2" style="background: url('{% static 'images/section5/03_image_1688x625.jpg' %}') no-repeat center;"></div>
                                                        </a>
                                                    </div>
                                                    <!-- end konten3 -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col inline l-6 m-6 s-6 product-animated-right resp-pad0">
                                            <div class="banner3">
                                                <div class="slider-home3">
                                                    <!-- konten4 -->
                                                    <div class="item">
                                                        <a href="#">
                                                            <div class="overlay-slider"></div>
                                                            <div class="text2">
                                                                <div class="t-slider">
                                                                    Konten4
                                                                </div>
                                                                <div class="d-slider">created at</div>
                                                            </div>
                                                            <div class="img-banner3" style="background: url('{% static 'images/section5/04_image_1688x625.jpg' %}') no-repeat center;"></div>
                                                        </a>
                                                    </div>
                                                    <!-- end konten4 -->
                                                    <!-- konten5 -->
                                                    <div class="item">
                                                        <a href="#">
                                                            <div class="overlay-slider"></div>
                                                            <div class="text2">
                                                                <div class="t-slider">
                                                                    Konten5
                                                                </div>
                                                                <div class="d-slider">created at</div>
                                                            </div>
                                                            <div class="img-banner3" style="background: url('{% static 'images/section5/05_image_1688x625.jpg' %}') no-repeat center;"></div>
                                                        </a>
                                                    </div>
                                                    <!-- end konten5 -->
                                                    <!-- konten6 -->
                                                    <div class="item">
                                                        <a href="#">
                                                            <div class="overlay-slider"></div>
                                                            <div class="text2">
                                                                <div class="t-slider">
                                                                    Konten6
                                                                </div>
                                                                <div class="d-slider">created at</div>
                                                            </div>
                                                            <div class="img-banner3" style="background: url('{% static 'images/section5/06_image_1688x625.jpg' %}') no-repeat center;"></div>
                                                        </a>
                                                    </div>
                                                    <!-- end konten6 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end konten slider-->
                            </div>
                        </div>
                    </div>
                </div>