{% load static %}
<div class="bg-instagram"
    style="background: url({% static 'images/section4/bg-instagram.jpg' %}) no-repeat; height: 100%; width: 100%; background-size: cover !important;">
    <div class="container">
        <div class="i-instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="s-instagram">Join Our Sosmed</div>
        <div class="h-instagram bold">
            <a title="Instagram : taufiqht_travel" target="_blank"
                href="http://www.instagram.com/taufiqht_travel">@taufiqht_travel</a>
        </div>
        <div class="row inline">
            <div id="instafeed">
                <div class="col inline l-3 m-3 s-6 min-10 product-animated-bottom">
                    <div class="hvr-instagram">
                        <div class="overlay-instagram"></div>
                        <a href="https://www.instagram.com/p/BxwRCN4FM4j/" target="_blank"
                            style="background:url(https://scontent-sin6-2.cdninstagram.com/vp/b2ae51180618029d16f85a254a30d26d/5DF532E6/t51.2885-15/e35/60174722_559570671234734_7660482728780207883_n.jpg?_nc_ht=scontent-sin6-2.cdninstagram.com) 0 0 no-repeat;"></a>
                    </div>
                </div>
                <div class="col inline l-3 m-3 s-6 min-10 product-animated-bottom">
                    <div class="hvr-instagram">
                        <div class="overlay-instagram"></div>
                        <a href="https://www.instagram.com/p/BxThbIOlqPa/" target="_blank"
                            style="background:url(https://scontent-sin6-2.cdninstagram.com/vp/40cce5648f31b82b1b32573b24c6afe6/5DFBDFA0/t51.2885-15/e35/60368737_2867711140120637_4221334464762025842_n.jpg?_nc_ht=scontent-sin6-2.cdninstagram.com) 0 0 no-repeat;"></a>
                    </div>
                </div>
                <div class="col inline l-3 m-3 s-6 min-10 product-animated-bottom">
                    <div class="hvr-instagram">
                        <div class="overlay-instagram"></div>
                        <a href="https://www.instagram.com/p/BxTfE2GlyG9/" target="_blank"
                            style="background:url(https://scontent-sin6-2.cdninstagram.com/vp/b7d8f4115e9e28d0b755f8f1bfbdc790/5DFFFF2D/t51.2885-15/e35/58410897_160984571595846_6131156864718977470_n.jpg?_nc_ht=scontent-sin6-2.cdninstagram.com) 0 0 no-repeat;"></a>
                    </div>
                </div>
            </div>
            <div class="col inline l-3 m-3 s-6 min-10 product-animated-bottom">
                <div class="hvr-instagram">
                    <div class="overlay-instagram"></div>
                    <a href="https://www.instagram.com/p/BxOpbHgBStr/" target="_blank"
                        style="background:url(https://scontent-sin6-2.cdninstagram.com/vp/12f34ba3a64516abbc33dce170f804a4/5E0BC823/t51.2885-15/e35/59845339_136019480821927_9008156070299922642_n.jpg?_nc_ht=scontent-sin6-2.cdninstagram.com) 0 0 no-repeat;"></a>
                </div>
            </div>
            <div class="col inline l-3 m-3 s-6 min-10 product-animated-bottom">
                <div class="hvr-instagram">
                    <div class="overlay-instagram"></div>
                    <a href="https://www.instagram.com/p/BxMMqaZhQrI/" target="_blank"
                        style="background:url(https://scontent-sin6-2.cdninstagram.com/vp/c200652e05b38e2e35e85d200aa1184b/5E01B20C/t51.2885-15/e35/59244178_2391110727767050_4467552446331992478_n.jpg?_nc_ht=scontent-sin6-2.cdninstagram.com) 0 0 no-repeat;"></a>
                </div>
            </div>
            <div class="col inline l-3 m-3 s-6 min-10 product-animated-bottom">
                <div class="hvr-instagram">
                    <div class="overlay-instagram"></div>
                    <a href="https://www.instagram.com/p/BxL5VGphYD5/" target="_blank"
                        style="background:url(https://scontent-sin6-2.cdninstagram.com/vp/a325fbf4f1fe63b6b6f66a599f32b1f1/5DF508EE/t51.2885-15/e35/59454849_191139358533372_1869121123615159297_n.jpg?_nc_ht=scontent-sin6-2.cdninstagram.com) 0 0 no-repeat;"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>