{% load static %}
                <div class="container">
                    <div class="pad50 box-service">
                        <div class="title bold">SECTION-3</div>
                        <p>
                            Aliquip qui eiusmod et sunt excepteur id nulla id do velit incididunt eiusmod nulla.
                            Exercitation dolore in nisi enim consectetur eu ipsum officia.
                            Quis sint qui tempor cillum dolor ullamco anim tempor id nulla nulla.
                            Deserunt anim qui tempor aliquip voluptate excepteur nostrud cillum.
                            Aute ea laboris non anim qui non. Proident labore ad ut ullamco ipsum laboris reprehenderit aute.
                        </p>

                        <div class="row inline service50">
                            <!-- demo1 -->
                            <div class="col inline l-3 m-3 s-6 product-animated-bottom">
                                <div class="hvr-service">
                                    <div class="i-service">
                                        <a href="#">
                                            <img src="{% static 'images/section3/01_icon_100x100.png' %}" alt="ico1_section3" />
                                        </a>
                                    </div>
                                    <div class="t-service">Demo 1</div>
                                    <div class="b-service">
                                        <div>
                                            <p>
                                                Aliquip qui eiusmod et sunt excepteur id nulla id do velit incididunt eiusmod nulla.
                                                Exercitation dolore in nisi enim consectetur eu ipsum officia.
                                                Quis sint qui tempor cillum dolor ullamco anim tempor id nulla nulla.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end demo1 -->
                            <!-- demo2 -->
                            <div class="col inline l-3 m-3 s-6 product-animated-bottom">
                                <div class="hvr-service">
                                    <div class="i-service">
                                        <a href="#">
                                            <img src="{% static 'images/section3/01_icon_100x100.png' %}" alt="icon2_section3" />
                                        </a>
                                    </div>
                                    <div class="t-service">Demo 2</div>
                                    <div class="b-service">
                                        <p>
                                            Aliquip qui eiusmod et sunt excepteur id nulla id do velit incididunt eiusmod nulla.
                                            Exercitation dolore in nisi enim consectetur eu ipsum officia.
                                            Quis sint qui tempor cillum dolor ullamco anim tempor id nulla nulla.
                                        </p>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end demo2 -->
                            <!-- demo3 -->
                            <div class="col inline l-3 m-3 s-6 product-animated-bottom">
                                <div class="hvr-service">
                                    <div class="i-service">
                                        <a href="#">
                                            <img src="{% static 'images/section3/01_icon_100x100.png' %}" alt="icon3_section3" />
                                        </a>
                                    </div>
                                    <div class="t-service">Demo 3</div>
                                    <div class="b-service">
                                        <p>
                                            Aliquip qui eiusmod et sunt excepteur id nulla id do velit incididunt eiusmod nulla.
                                            Exercitation dolore in nisi enim consectetur eu ipsum officia.
                                            Quis sint qui tempor cillum dolor ullamco anim tempor id nulla nulla.
                                        </p>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end demo3 -->
                            <!-- demo4 -->
                            <div class="col inline l-3 m-3 s-6 product-animated-bottom">
                                <div class="hvr-service">
                                    <div class="i-service">
                                        <a href="#">
                                            <img src="{% static 'images/section3/01_icon_100x100.png' %}" alt="icon4_section3" />
                                        </a>
                                    </div>
                                    <div class="t-service">Demo 4</div>
                                    <div class="b-service">
                                        <div>
                                            <p>
                                                Aliquip qui eiusmod et sunt excepteur id nulla id do velit incididunt eiusmod nulla.
                                                Exercitation dolore in nisi enim consectetur eu ipsum officia.
                                                Quis sint qui tempor cillum dolor ullamco anim tempor id nulla nulla.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end demo4 -->
                        </div>
                    </div>
                </div>