{% load static %}
                <div class="bg-instagram" style="background: url({% static 'images/section4/bg-instagram.jpg' %}) no-repeat;">
                    <div class="container">
                        <div class="i-instagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                        <div class="h-instagram bold">
                            <a target="_blank" href="#">SECTION-4</a>
                        </div>
                        <div class="s-instagram">Join Our Sosmed</div>
                        <div class="row inline">
                            <div id="instafeed"></div>
                        </div>
                    </div>
                </div>