/*MIXINS*/
/* ELEMENT MODIFIER */
.btn-freezed {
    background: #8ab0d8 !important;
    max-width: 100% !important;
  }
  
  /*LOGIN POPUP*/
  #login-pop {
    display: none;
    font-family: BentonSans-T, sans-serif;
  }
  #login-pop.popup .popup-content {
    width: 580px;
  }
  #login-pop .overlay .member-popup {
    padding: 50px 63px;
  }
  #login-pop .overlay .member-popup .box-pop {
    padding: 0;
    height: auto !important;
  }
  #login-pop .overlay .member-popup .box-pop.active-contact {
    overflow: hidden;
  }
  #login-pop .overlay .member-popup .box-pop .member-popup-logo img {
    height: 55px;
    display: block;
    margin: 0 auto;
  }
  #login-pop .overlay .member-popup .box-pop .text-pop {
    color: #67747c;
    text-align: center;
    padding: 15px 0 30px 0;
    margin: 0;
    font-size: 16px;
  }
  #login-pop .overlay .member-popup .box-pop .text-pop a {
    color: #fdb813;
    margin: 0 10px;
  }
  #login-pop .overlay .member-popup .box-pop .text-pop.login-helper {
    color: #ebebeb;
  }
  #login-pop .overlay .member-popup .box-pop form {
    position: relative;
  }
  #login-pop .overlay .member-popup .box-pop form .icon-input {
    top: 3px;
  }
  #login-pop .overlay .member-popup .box-pop .login-btn {
    margin-bottom: 25px;
  }
  #login-pop .overlay .member-popup .box-pop .social-login .social-login-separator {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
  }
  #login-pop .overlay .member-popup .box-pop .social-login .social-login-separator .separator-text {
    background: #dc221a;
    color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #login-pop .overlay .member-popup .box-pop .social-login .social-login-separator .separator-text span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #login-pop .overlay .member-popup .box-pop .social-login .social-login-btn button {
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 0 0 0 15px;
    position: relative;
  }
  #login-pop .overlay .member-popup .box-pop .social-login .social-login-btn button:after {
    width: 18px;
    height: 18px;
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  #login-pop .overlay .member-popup .box-pop .social-login .social-login-btn .facebook {
    background: #3c66c4;
    color: #ffffff;
    padding: 13px;
  }
  
  #login-pop .overlay .member-popup .box-pop .social-login .social-login-btn .gplus {
    background: #cf4332;
    color: #ffffff;
    padding: 13px;
  }
  
  .close-popup-container {
    position: absolute;
    top: -14px;
    right: -14px;
    width: 40px;
    height: 40px;
    background: #ecec;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: #0b3868;
  }
  .close-popup-container .close-popup-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .close-popup-container .close-popup-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding: 15px;
    cursor: pointer;
  }
  
  /* REGISTER POPUP */
  #register-pop {
    display: none;
    font-family: BentonSans-T, sans-serif;
  }
  #register-pop.popup .popup-content {
    width: 1000px;
  }
  #register-pop .overlay .member-popup {
    padding: 40px 63px;
  }
  #register-pop .overlay .member-popup .box-pop {
    padding: 0;
  }
  #register-pop .overlay .member-popup .box-pop.active-contact {
    overflow: hidden;
    height: 600px;
  }
  #register-pop .overlay .member-popup .box-pop .member-popup-logo img {
    height: 55px;
    display: block;
    margin: 0 auto;
  }
  #register-pop .overlay .member-popup .box-pop .text-pop {
    color: #67747c;
    text-align: center;
    padding: 25px 0 37px 0;
    margin: 0;
    font-size: 16px;
  }
  #register-pop .overlay .member-popup .box-pop .text-pop a {
    color: #fdb813;
    margin: 0 10px;
  }
  #register-pop .overlay .member-popup .box-pop .text-pop.login-helper {
    color: #67747c;
  }
  #register-pop .overlay .member-popup .box-pop .login-btn {
    margin-bottom: 55px;
  }
  #register-pop .overlay .member-popup .box-pop .social-login {
    padding: 0 120px;
  }
  #register-pop .overlay .member-popup .box-pop .social-login .social-login-separator {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
  }
  #register-pop .overlay .member-popup .box-pop .social-login .social-login-separator .separator-text {
    background: #dc221a;
    color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #register-pop .overlay .member-popup .box-pop .social-login .social-login-separator .separator-text span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #register-pop .overlay .member-popup .box-pop .social-login .social-login-btn button {
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 0 0 0 15px;
    position: relative;
  }
  #register-pop .overlay .member-popup .box-pop .social-login .social-login-btn button:after {
    width: 18px;
    height: 18px;
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  #register-pop .overlay .member-popup .box-pop .social-login .social-login-btn .facebook {
    background: #3c66c4;
    color: #ffffff;
    padding: 13px;
  }

  #register-pop .overlay .member-popup .box-pop .social-login .social-login-btn .gplus {
    background: #cf4332;
    color: #ffffff;
    padding: 13px;
  }
  
  
  /* PROFILE MENU */
  .member-loggedin-icon {
    margin: 0 0 0 15px;
  }
  .member-loggedin-icon button {
    position: relative;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background: #0b3868;
    color: #ffffff;
  }
  .member-loggedin-icon button:before {
    width: 32px;
    height: 32px;
    content: "";
    /* background: url("../../../lib/images/icons/member-icon.png") no-repeat; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 74%;
    left: 60%;
  }
  
  .profile-menu {
    display: none;
    position: absolute;
    top: 500px;
    right: -30px;
    background: #fff;
    z-index: 10000;
    width: 230px;
    height: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /*box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
    text-align: left;
    font-size: 16px;
  }
  .profile-menu .profile-menu-container {
    padding: 30px 30px 5px 30px;
  }
  .profile-menu span.profile-menu-heading {
    color: #297cbb;
    font-weight: 600;
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: 17px;
  }
  .profile-menu a {
    color: #999;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    cursor: pointer;
  }
  .profile-menu .profile-menu-content {
    padding: 0 0 15px 0;
  }
  .profile-menu .profile-menu-item {
    position: relative;
  }
  .profile-menu .profile-menu-item a {
    display: inline-block;
  }
  .profile-menu .profile-menu-item a img {
    vertical-align: baseline;
  }
  .profile-menu .profile-menu-item a p {
    display: inline-block;
    padding: 0 0 0 5px;
    margin: 5px 0;
  }
  .profile-menu .profile-logout-nav {
    padding: 5px 30px 15px 30px;
    border-top: 1px solid #ededed;
  }
  
  /* SPINNER */
  .spinner-body,
  .loading-spinner-container {
    display: none;
    margin: 0;
    background: #ffffff;
    z-index: 10000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .spinner-body:after,
  .loading-spinner-container:after {
    content: "";
    background: #ffffff;
    height: 10px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -5px;
  }
  .spinner-body:before,
  .loading-spinner-container:before {
    content: "";
    background: #ffffff;
    height: 10px;
  }
  .spinner-body .spinner-content,
  .loading-spinner-container .spinner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* ERROR */
  .err-container {
    text-align: center;
  }
  .err-container p {
    font-family: BentonSans, sans-serif;
    color: #dc221a;
  }
  
  /* REGISTER IN BOOKING */
  .register-member-checkbox {
    color: #666;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .register-member-checkbox input[type=checkbox] {
    opacity: 0;
  }
  .register-member-checkbox input[type=checkbox] + label:after {
    content: none;
  }
  .register-member-checkbox input[type=checkbox]:checked + label:after {
    content: "";
  }
  .register-member-checkbox label:before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid;
    position: absolute;
    top: 3px;
  }
  .register-member-checkbox label:after {
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    position: absolute;
    left: 20px;
    top: 8px;
  }
  .register-member-checkbox span {
    display: inline-block;
    margin-top: 7px;
  }
  .register-member-checkbox .register-checkbox-caption {
    padding: 0;
  }
  
  p.login-via-form {
    color: #297cbb;
    padding: 15px 0;
  }
  p.login-via-form a.login {
    background: #297cbb;
    color: #fff;
    padding: 5px 7px;
    border-radius: 5px;
    margin: 0 10px;
  }
  
  /* ACCOUNT ACTIVATION */
  .account-activation-page {
    color: #666;
    /* Button request verifikasi email baru */
  }
  .account-activation-page .account-activation-message {
    text-align: center;
  }
  .account-activation-page input {
    width: 50%;
    margin: 0 auto;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    padding: 0 12px 0px 0;
    text-align: center;
    font-size: 16px;
  }
  .account-activation-page button {
    text-align: center;
    margin: 0 auto;
  }
  .account-activation-page .aap-err-message {
    text-align: center;
    padding: 15px 0;
  }
  .account-activation-page h3 {
    margin: 15px 0 25px 0;
  }
  .account-activation-page button.btn-email-request-token {
    max-width: 250px;
  }
  
  .member-forgot-password {
    padding: 15px 0;
    position: relative;
    color: #666;
    text-align: center;
  }
  .member-forgot-password .form-group input {
    width: 50%;
    margin: 0 auto;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    padding: 0 12px 0px 0;
    text-align: center;
    font-size: 16px;
  }
  .member-forgot-password button {
    margin: 0 auto;
  }
  
  .heading-regstep-member {
    color: #666;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
  }
  .heading-regstep-member:after {
    content: "";
    width: 25px;
    height: 2px;
    background: #dc221a;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .text-regstep-member {
    font-weight: normal;
    line-height: 30px;
    color: #888;
    margin-bottom: 0;
    text-align: center;
    font-size: 16px;
    padding: 15px 0;
  }
  
  /***************** MEMBER DASHBOARD ************************/
  .dashboard-heading {
    background: #297cbb;
    color: #ffffff;
    padding: 5px 25px;
  }
  .dashboard-heading h4 {
    font-size: 16px;
  }
  
  .member-dashboard-sidebar .member-dashboard-sidebar-content {
    padding: 15px;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li {
    position: relative;
    padding: 5px 0;
    font-size: 16px;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li a {
    color: #67747c;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li p {
    display: inline-block;
    padding: 0 0 0 10px;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li ul {
    list-style: square;
    margin-left: 30px;
    margin-bottom: 0;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li ul li {
    padding: 0;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li ul li.list-group-item {
    border: none;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li ul li.list-group-item:first-child {
    border-radius: 0;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li ul li a {
    border: 0;
    display: block;
    padding: 10px 0;
    padding-left: 0;
    position: relative;
    -webkit-transition: padding-left 0.3s;
    -o-transition: padding-left 0.3s;
    -ms-transition: padding-left 0.3s;
    transition: padding-left 0.3s;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li ul li a:after {
    content: url("../assets/images/double-angle-pointing-to-right.svg");
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    transform: translateY(-50%);
    height: auto;
    opacity: 0;
    -webkit-transition: all 0.1;
    -o-transition: all 0.1;
    -ms-transition: all 0.1;
    transition: all 0.1;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li ul li a:hover {
    color: #297cbb;
    padding-left: 15px;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li ul li a:hover:after {
    opacity: 1;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  .member-dashboard-sidebar .member-dashboard-sidebar-content ul li ul li.active {
    background-color: transparent;
  }
  
  .member-dashboard-profile {
    color: #67747c;
    padding: 0 25px;
    font-size: 16px;
  }
  .member-dashboard-profile table {
    margin: 25px 0;
  }
  .member-dashboard-profile table tbody tr td {
    padding: 8px;
    vertical-align: middle;
  }
  .member-dashboard-profile table tbody tr td span {
    padding: 0 0 0 15px;
  }
  .member-dashboard-profile input,
  .member-dashboard-profile textarea,
  .member-dashboard-profile select {
    border: 1px solid #f5f5f5;
    color: #67747c;
    width: 415px;
    padding: 10px;
    border-radius: 3px;
  }
  .member-dashboard-profile textarea {
    /*height: 82px;*/
  }
  .member-dashboard-profile textarea:focus {
    border: 1px solid #297cbb;
  }
  .member-dashboard-profile input[type=text]:read-only {
    color: #67747c;
    background: #fdfdfd;
    border: 1px solid #f5f5f5;
  }
  
  .notification-content {
    margin: 25px 0;
    background: #f5fbff;
    color: #dc221a;
    border: 1px solid #297cbb;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .notification-content p {
    margin: 0 0 0 5px;
    display: inline-block;
  }
  
  /** MEMBER TRANSACTION HISTORY **/
  .member-transaction-container {
    color: #67747c;
  }
  .member-transaction-container .member-transaction-list .booking-item-list {
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
    display: block;
  }
  .member-transaction-container .member-transaction-list .booking-item-list:hover {
    background: transparent;
  }
  .member-transaction-container .member-transaction-list .booking-item-list .booking-item-icon {
    padding: 5px 0 15px 15px;
  }
  .member-transaction-container .member-transaction-list .booking-item-list .booking-item-icon img {
    display: block;
    margin: 0 auto;
  }
  .member-transaction-container .member-transaction-list .booking-item-list .booking-item-content {
    padding: 5px 15px 15px 0;
  }
  .member-transaction-container .member-transaction-list .booking-item-list .booking-item-content span.product-type {
    display: inline-block;
  }
  .member-transaction-container .member-transaction-list .booking-item-list .booking-item-content span.order-status {
    margin: 0 0 0 30px;
  }
  .member-transaction-container .member-transaction-list .booking-item-list .booking-item-content h4 {
    font-weight: 700;
    margin: 10px 0 25px 0;
    font-size: 16px;
    line-height: 21px;
  }
  .member-transaction-container .member-transaction-list .booking-item-list .booking-item-nav {
    text-align: center;
    padding: 5px 0 15px 0;
  }
  .member-transaction-container .member-transaction-list .booking-item-list .booking-item-nav span {
    display: block;
    margin: 0 0 10px 0;
  }
  .member-transaction-container .member-transaction-list .booking-item-list .booking-item-nav span.booking-id {
    margin: 0 0 10px 0;
  }
  .member-transaction-container .member-transaction-list .booking-item-list .booking-item-nav button {
    background: #0b3868;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 1px 0 0 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  .member-transaction-container .member-transaction-list .booking-item-list .booking-item-nav button:hover {
    background: #fdb813;
    color: #ffffff;
  }
  .member-transaction-container .member-transaction-list .member-transaction-history-pagination {
    position: relative;
    text-align: center;
  }
  .member-transaction-container .member-transaction-detail {
    padding: 0;
  }
  .member-transaction-container .member-transaction-detail button {
    color: #67747c;
  }
  .member-transaction-container .member-transaction-detail button.back-to-transaction-list {
    border: none;
    background: transparent;
    font-size: 16px;
    position: relative;
    top: 20px;
    left: 25px;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content {
    padding: 25px;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content h3.transaction-detail {
    padding: 0 0 10px 0;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content p.transaction-detail-booking-status {
    float: right;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 25px;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content label {
    color: #297cbb;
    padding: 10px 0;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content table.tour-member thead {
    background: #297cbb;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content table.tour-member thead tr th {
    padding: 15px;
    color: #ffffff;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content table.tour-member tbody tr td {
    padding: 15px;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content table.tour-member tbody tr:nth-child(even) {
    background: #f8fcff;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content table.payment-status thead {
    background: #297cbb;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content table.payment-status thead tr th {
    padding: 15px;
    color: #ffffff;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content table.payment-status tbody tr:nth-child(even) {
    background: #f8fcff;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content table.payment-status tbody tr td {
    padding: 15px;
  }
  .member-transaction-container .member-transaction-detail .member-transaction-detail-content table tbody tr td {
    padding: 5px;
    font-size: 14px;
  }
  
  /*# sourceMappingURL=extend.css.map */