{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/front/fonts.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/extend/css/extend.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/front/jquery-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/front/slick/slick-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/front/slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/front/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/front/select/select2.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/front/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/front/timepicker/jquery-ui-timepicker-addon.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/extend/css/vendor-extend.css' %}" />

    {% block style %}
        
    {% endblock style %}
        
    <!-- js -->
    <script type="text/javascript">var base_url = 'index.html';</script>
	<script type="text/javascript" src="{% static 'js/front/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/front/jquery-ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/front/jquery-migrate-1.4.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/front/jquery.lib.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/front/jquery.run.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/front/jquery.ui.touch-punch.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/front/jquery.gomap-1.3.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/front/scrollReveal/scrollreveal.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/front/jquery.validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'css/extend/src/js/extend.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/front/global.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/front/timepicker/jquery-ui-timepicker-addon.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/front/slick/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/front/sticky-kit.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/front/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/front/select/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/front/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/front/instafeed.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/front/jquery.ui.autocomplete.html.js' %}"></script>

    
</head>
<body>
{% block section %}
    
{% endblock section %}

{% block script %}
    
{% endblock script %}
</body>
</html>