{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="tex/css" href="{% static 'css/styles.css' %}" />
{% endblock style %}

{% block main %}
    <section id="main">
        <div class="pos-rel">
            <!-- banner slider -->
            {% include 'components/carousel.html' %}
            <!-- end banner slider -->

            <!-- pemesanan -->
            {% include 'components/pemesanan.html' %}
            <!-- end pemesanan -->
        </div>

        <div class="section-1">
            <div class="container">
                <!-- promo -->
                {% include 'components/promo.html' %}
                <!-- end promo -->

                <!-- service -->
                {% include 'components/section-1.html' %}
                <!-- end service -->
            </div>
        </div>

        <div class="section-3" style="margin-top:5em">
            {% include 'components/section-3.html' %}
        </div>

        <div class="section-4">
            {% include 'components/section-4.html' %}
        </div>

        <div class="section-5">
            {% include 'components/section-5.html' %}
        </div>
    </section>
{% endblock main %}