{% load static %}
                <div class="box-search-home">
                    <div class="abs-icon">
                        <div class="container">
                            <ul class="l-icon clearfix">
                                <li class="">
                                    <a data-id="1">
                                        <div class="inline-block v-middle">
                                            <div class="img">
                                            </div>
                                        </div>
                                        <div class="inline-block v-middle"></div>
                                    </a>
                                </li>
                                <li>
                                    <a data-id="2">
                                        <div class="inline-block v-middle">
                                            <div class="img">
                                                <img src="{% static 'images/banner/icon2.png' %}" alt="icon_umroh" />
                                            </div>
                                        </div>
                                        <div class="inline-block v-middle">Tour</div>
                                    </a>
                                </li>
                                <li class="">
                                    <a data-id="4">
                                        <div class="inline-block v-middle">
                                            <div class="img">
                                                <img src="{% static 'images/banner/icon3.png' %}" alt="icon_travel" />
                                            </div>
                                        </div>
                                        <div class="inline-block v-middle">Travel</div>
                                    </a>
                                </li>
                                <li>
                                    <a data-id="5">
                                        <div class="inline-block v-middle">
                                            <div class="img">
                                            </div>
                                        </div>
                                        <div class="inline-block v-middle"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- demo2 -->
                    <div class="abs-search-home active-tour">
                        <div class="container">
                            <!-- form -->
                        <form action="{% url 'search_packages' %}" method="get">
                            <div class="container">
                                <div class="tbl block480">
                                    <div class="cell">
                                        <div class="tbl block991">
                                            <div class="cell plane1">
                                                <div class="row inline min-5">
                                                    <div class="col inline l-6 m-6 s-6 min-5">
                                                        <div class="pos-rel show-annual">
                                                            <div class="i-plane">
                                                                <img src="{% static 'images/icons/plane-go.png' %}" alt="icon_select_map" />
                                                            </div>
                                                            <select 
                                                                name="insurance_destination" 
                                                                id="insurance_destination"
                                                                class="form-control selectpicker custom-select select-new-tour select-disabled yellow-hover"
                                                            >
                                                                <option disabled="true" selected>Umroh</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col inline l-6 m-6 s-6 min-5">
                                                        <div class="pos-rel">
                                                            <div class="i-plane">
                                                                <img src="{% static 'images/icons/select-plan.png' %}" alt="icon_select_plan" />
                                                            </div>
                                                            <select 
                                                                name="kategori" 
                                                                id="insurance_cover_type"
                                                                class="form-control selectpicker custom-select select-attraction select-disabled yellow-hover"
                                                            >
                                                                <option value="none" selected disabled hidden> 
                                                                    Pilih Paket 
                                                                </option> 
                                                                <option value="R">Reguler</option>
                                                                <option value="B">Bisnis</option>
                                                                <option value="E">Eksekutif</option>
                                                                <option value="S">12Hari</option>
                                                                <option value="A">Arbain</option>
                                                                <option value="C">+ City Tour Dubai</option>
                                                                <option value="C">+ Turki Bursa</option>
                                                                <option value="C">+ Yordan</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cell plane2">
                                                <div class="row inline min-5">
                                                    <div class="col inline l-6 m-6 s-6 min-5 block480">
                                                        <div class="box-date">
                                                            <div class="i-plane">
                                                                <img src="{% static 'images/icons/kalender3.png' %}" alt="icon_kalender3" />
                                                            </div>
                                                            <div class="row inline min-5">
                                                                <div class="col inline l-6 m-6 s-6 min-5">
                                                                    <input 
                                                                        type="text" 
                                                                        id="start-date-insurance"
                                                                        name="m_tanggal" 
                                                                        class="form-control input-date"
                                                                        placeholder="Dari tanggal" 
                                                                        readonly
                                                                    />
                                                                    <div class="space-date">-</div>
                                                                </div>
                                                                <div class="col inline l-6 m-6 s-6 min-5">
                                                                    <input 
                                                                        type="text" 
                                                                        id="end-date-insurance" 
                                                                        name="a_tanggal"
                                                                        class="form-control input-date" 
                                                                        placeholder="Sampai tanggal"
                                                                        readonly 
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--optional-->
                                                    <div class="col inline l-6 m-6 s-6 min-5 block480">
                                                        <div class="pos-rel">
                                                            <div class="i-plane">
                                                                <img src="{% static 'images/icons/select-plan.png' %}" alt="icon_select_plan" />
                                                            </div>
                                                            <select 
                                                                name="insurance_benefit" 
                                                                id="insurance_benefit"
                                                                class="form-control selectpicker custom-select select-attraction select-disabled yellow-hover"
                                                            >
                                                                <option disabled="true" selected>Choice of Benefit</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <button class="button button--wapasha btn-plane">
                                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end form -->
                        </div>
                    </div>
                    <!-- end demo2 -->
                    <!-- demo3 -->
                    <div class="abs-search-home active-attraction">
                        <!-- form -->
                        <form action="#" method=post>
                            <div class="container">
                                <div class="tbl block480">
                                    <div class="cell">
                                        <div class="tbl block991">
                                            <div class="cell plane1">
                                                <div class="row inline min-5">
                                                    <div class="col inline l-6 m-6 s-6 min-5">
                                                        <div class="pos-rel show-annual">
                                                            <div class="i-plane">
                                                                <img src="{% static 'images/icons/plane-go.png' %}" alt="icon_select_map" />
                                                            </div>
                                                            <select 
                                                                name="insurance_destination" 
                                                                id="insurance_destination"
                                                                class="form-control selectpicker custom-select select-new-tour select-disabled yellow-hover"
                                                            >
                                                                <option disabled="true" selected>Travel</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col inline l-6 m-6 s-6 min-5">
                                                        <div class="pos-rel">
                                                            <div class="i-plane">
                                                                <img src="{% static 'images/icons/select-plan.png' %}" alt="icon_select_plan" />
                                                            </div>
                                                            <select 
                                                                name="insurance_cover_type" 
                                                                id="insurance_cover_type"
                                                                class="form-control selectpicker custom-select select-attraction select-disabled yellow-hover"
                                                            >
                                                            <option value="none" selected disabled hidden> 
                                                                Pilih Paket 
                                                            </option> 
                                                            <option>Malaysia</option>
                                                            <option>Singapura</option>
                                                            <option>Thailand</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cell plane2">
                                                <div class="row inline min-5">
                                                    <div class="col inline l-6 m-6 s-6 min-5 block480">
                                                        <div class="box-date">
                                                            <div class="i-plane">
                                                                <img src="{% static 'images/icons/kalender3.png' %}" alt="icon_kalender3" />
                                                            </div>
                                                            <div class="row inline min-5">
                                                                <div class="col inline l-6 m-6 s-6 min-5">
                                                                    <input 
                                                                        type="text" 
                                                                        id="start-date-insurance"
                                                                        name="start-date-insurance" 
                                                                        class="form-control input-date"
                                                                        placeholder="Start date" 
                                                                        readonly
                                                                    />
                                                                    <div class="space-date">-</div>
                                                                </div>
                                                                <div class="col inline l-6 m-6 s-6 min-5">
                                                                    <input 
                                                                        type="text" 
                                                                        id="end-date-insurance" 
                                                                        name="end-date-insurance"
                                                                        class="form-control input-date" 
                                                                        placeholder="End date"
                                                                        readonly 
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--optional-->
                                                    <div class="col inline l-6 m-6 s-6 min-5 block480">
                                                        <div class="pos-rel">
                                                            <div class="i-plane">
                                                                <img src="{% static 'images/icons/select-plan.png' %}" alt="icon_select_plan" />
                                                            </div>
                                                            <select 
                                                                name="insurance_benefit" 
                                                                id="insurance_benefit"
                                                                class="form-control selectpicker custom-select select-attraction select-disabled yellow-hover"
                                                            >
                                                                <option disabled="true" selected>Choice of Benefit</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <button class="button button--wapasha btn-plane">
                                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end form -->
                    </div>
                    <!-- end demo3 -->
                </div>