{% load static %}
                    <div class="pad-promo">
                        <div class="slide">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                        <div class="slider-promo product-animated-bottom">
                            <div class="item">
                                <a href="#">
                                    <img src="{% static 'images/group/images/image1.jpg' %}" class="img-responsive" alt="image1" />
                                    <div class="o-promo"></div>
                                    <div class="b-promo">
                                        <div class="t-promo">Paket terpopuler 1</div>
                                        <div class="btn-promo">
                                            Lihat Selengkapnya <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="{% static 'images/group/images/image2.jpg' %}" class="img-responsive" alt="image2" />
                                    <div class="o-promo"></div>
                                    <div class="b-promo">
                                        <div class="t-promo">Paket terpopuler 2</div>
                                        <div class="btn-promo">
                                            Lihat Selengkapnya <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="{% static 'images/group/images/image3.jpg' %}" class="img-responsive" alt="image3" />
                                    <div class="o-promo"></div>
                                    <div class="b-promo">
                                        <div class="t-promo">Paket terpopuler 3</div>
                                        <div class="btn-promo">
                                            Lihat Selengkapnya <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="{% static 'images/group/images/image4.jpg' %}" class="img-responsive" alt="image4" />
                                    <div class="o-promo"></div>
                                    <div class="b-promo">
                                        <div class="t-promo">Paket terpopuler 4</div>
                                        <div class="btn-promo">
                                            Lihat Selengkapnya <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>