{% load static %}
                    <div class="pad-promo">
                        <div class="title bold mb50">Paket Terpopuler</div>
                        <div class="slide">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                        <div class="slider-promo product-animated-bottom">
                        
                        
                        {% if package %}
                            {% for paket in package  %}
                            <div class="item">
                                <a href="{% url 'detail' paket.slug %}">
                                    <!-- paket kategori populer -->
                                    {% if paket.kategori_lainnya == 'P' %}
                                        {% if paket.packagebanner_set.count %}
                                        <img src="{{ paket.packagebanner_set.first.banner.url }}" class="img-responsive" alt="paket_populer" />
                                        {% else %}
                                        <img src="{% static 'images/news/logo.png' %}" alt="image_default" />
                                        {% endif %}
                                    {% endif %}
                                    <!-- end -->
                                    <div class="o-promo"></div>
                                    <div class="b-promo">
                                        <div class="t-promo">{{ paket.nama }}</div>
                                        <div class="btn-promo">
                                            Lihat Selengkapnya <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        {% else %}
                            <h2>Belum Ada Paket</h2>
                        {% endif %}
                            
                            
                        </div>
                    </div>