{% load static %}
<div class="text-center">

    <div class="modal fade modal-promo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog DDD">
            <div class="modal-content">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" src="http://placehold.it/1200x600/555/000&text=One" alt="..."
                            width="600" height="400">
                        <div class="carousel-caption">
                            One Image
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="http://placehold.it/1200x600/fffccc/000&text=Two" alt="..."
                            width="600" height="400">
                        <div class="carousel-caption">
                            Another Image
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(window).load(function () {
        $('.modal-promo').modal('show');
    })
</script>