{% load static %}
                    <div class="pad-promo">
                        <div class="title bold mb50">Paket Terpopuler</div>
                        <div class="slide">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                        <div class="slider-promo product-animated-bottom">
                            
                            {% for paket in populer  %}
                            <div class="item">
                                <a href="paket-umroh/">
                                    <img src="{{ paket.banner.url }}" class="img-responsive" alt="image1" />
                                    <div class="o-promo"></div>
                                    <div class="b-promo">
                                        <div class="t-promo">{{ paket.nama }}</div>
                                        <div class="btn-promo">
                                            Lihat Selengkapnya <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>