{% load static %}
<div class="pad50 box-why">
    {% if descriptions %}
    <div class="title bold mb50">{{descriptions.header}}</div>
    <div class="tbl ">
        {% if item1 %}
        <div class="cell product-animated-left">
            <div class="tbl r-why">
                <div class="cell cell-top xs20 cell-why">
                    <div class="i-why hidden-sm hidden-md hidden-lg">
                        <img src="{% if item1.img %} {{ item1.img.url}} {% else %} {% static 'images/section1/02.jpg' %} {% endif %}" alt="image1_4x5" />
                    </div>
                    <div class="t-why">{{item1.judul}}</div>
                    <div>
                        {{ item1.deskripsi |safe }}
                    </div>
                </div>
                <div class="cell cell-top left-why hidden-xs">
                    <div class="i-why">
                        <img src="{% if item1.img %} {{ item1.img.url}} {% else %} {% static 'images/section1/02.jpg' %} {% endif %}" alt="image1_4x5" />
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- end judul1 -->
        <div class="cell w60">
            <div class="bdr-why"></div>
        </div>
        <!-- judul2 -->
        {% if item2 %}
        <div class="cell xs20 product-animated-right">
            <div class="tbl">
                <div class="cell cell-top right-why">
                    <div class="i-why">
                        <img src="{% if item2.img %} {{ item2.img.url}} {% else %} {% static 'images/section1/02.jpg' %} {% endif %}" alt="image2_4x5" />
                    </div>
                </div>
                <div class="cell cell-top">
                    <div class="t-why">{{item2.judul}}</div>
                    <div>
                        {{ item2.deskripsi |safe }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- end judul2 -->
    </div>
    <div class="tbl marginwhy">
        <!-- judul3 -->
        {% if item3 %}
        <div class="cell product-animated-left">
            <div class="tbl r-why">
                <div class="cell cell-top xs20 cell-why">
                    <div class="i-why hidden-sm hidden-md hidden-lg">
                        <img src="{% if item3.img %} {{ item3.img.url}} {% else %} {% static 'images/section1/02.jpg' %} {% endif %}" alt="image3_4x5" />
                    </div>
                    <div class="t-why">{{item3.judul}}</div>
                    <div>
                        {{ item3.deskripsi |safe }}
                    </div>
                </div>
                <div class="cell cell-top left-why hidden-xs">
                    <div class="i-why">
                        <img src="{% if item3.img %} {{ item3.img.url}} {% else %} {% static 'images/section1/02.jpg' %} {% endif %}" alt="image3_4x5" />
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- end judul3 -->
        <div class="cell w60">
            <div class="bdr-why"></div>
        </div>
        <!-- judul4 -->
        {% if item4 %}
        <div class="cell xs20 product-animated-right">
            <div class="tbl">
                <div class="cell cell-top right-why">
                    <div class="i-why">
                        <img src="{% if item4.img %} {{ item4.img.url}} {% else %} {% static 'images/section1/02.jpg' %} {% endif %}" alt="image4_4x5" />
                    </div>
                </div>
                <div class="cell cell-top">
                    <div class="t-why">{{item4.judul}}</div>
                    <div>
                        {{ item4.deskripsi |safe }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- end judul4 -->
    </div>
    {% endif %}
</div>