{% load static %}
                <div class="container">
                    <div class="pad50 box-service">
                        <div class="title bold">Service Lainnya</div>
                        <p>
                            Pada prinsipnya, karena apa yang kami tawarkan merupakan sebuah perjalanan serta pengalaman tak terlupakan,
                            kami memahami bahwa terdapat elemen-elemen penting yang tidak dapat dipisahkan dari sebatas perencanaan,
                            namun juga memastikan bahwa proses perjalanan anda terakomodasi dengan sempurna. Berikut pelayanan lain yang
                            kami sediakan untuk anda:
                        </p>

                        <div class="row inline service50">
                            <!-- demo1 -->
                            <div class="col inline l-3 m-3 s-6 product-animated-bottom">
                                <div class="hvr-service">
                                    <div class="i-service">
                                        <a>
                                            <img src="{% static 'images/news/service/service4.png' %}" alt="ico1_section3" />
                                        </a>
                                    </div>
                                    <div class="t-service">Tiket</div>
                                    <div class="b-service">
                                        <div>
                                            <p>
                                                Tidak perlu lagi membayangkan antrean panjang untuk masuk ke taman hiburan dan berbagai
                                                atraksi pada setiap
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end demo1 -->
                            <!-- demo2 -->
                            <div class="col inline l-3 m-3 s-6 product-animated-bottom">
                                <div class="hvr-service">
                                    <div class="i-service">
                                        <a>
                                            <img src="{% static 'images/news/service/service3.png' %}" alt="icon2_section3" />
                                        </a>
                                    </div>
                                    <div class="t-service">Transportasi</div>
                                    <div class="b-service">
                                        <p>
                                            Demi menjelajah setiap pelosok, kami memiliki layanan penyewaan mobil di setiap destinasi
                                            anda, sehingga anda
                                        </p>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end demo2 -->
                            <!-- demo3 -->
                            <div class="col inline l-3 m-3 s-6 product-animated-bottom">
                                <div class="hvr-service">
                                    <div class="i-service">
                                        <a>
                                            <img src="{% static 'images/news/service/service2.png' %}" alt="icon3_section3" />
                                        </a>
                                    </div>
                                    <div class="t-service">Asuransi</div>
                                    <div class="b-service">
                                        <p>
                                            Lindungi perjalanan anda dari kejadian-kejadian tak diinginkan, supaya anda tidak memiliki
                                            kekuatiran selama liburan.
                                        </p>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end demo3 -->
                            <!-- demo4 -->
                            <div class="col inline l-3 m-3 s-6 product-animated-bottom">
                                <div class="hvr-service">
                                    <div class="i-service">
                                        <a>
                                            <img src="{% static 'images/news/service/service1.png' %}" alt="icon4_section3" />
                                        </a>
                                    </div>
                                    <div class="t-service">Passport & Visa</div>
                                    <div class="b-service">
                                        <div>
                                            <p>
                                                Jangan biarkan perjalanan anda terhambat karena pemrosesan dokumen yang menyita waktu.
                                                Kami menyediakan layanan pembuatan, perpanjangan paspor, serta pembuatan visa perjalanan
                                                ke setiap tujuan.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end demo4 -->
                        </div>
                    </div>
                </div>