{% load static %}
                <div class="bg-instagram"
                    style="background: url({% static 'images/section4/bg-instagram.jpg' %}) no-repeat; height: 100%; width: 100%; background-size: cover !important;">
                    <div class="container">
                        <div class="i-instagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                        <div>
                            <div id="instafeed-1" class="instagram_feed">
                            </div>
                        </div>
                    </div>
                </div>