{% load static %}
<div class="pad50 box-why">
    <div class="title bold mb50">UMROH</div>
    <div class="tbl ">
        <!-- judul1 -->
        <div class="cell product-animated-left">
            <div class="tbl r-why">
                <div class="cell cell-top xs20 cell-why">
                    <div class="i-why hidden-sm hidden-md hidden-lg">
                        <img src="{% static 'images/section1/02.jpg' %}" alt="image1_4x5" />
                    </div>
                    <div class="t-why">Pengertian</div>
                    <div>
                        <p align="left">
                            &emsp;Mengunjungi Ka'bah (biatullah) untuk melaksanakan serangkaian kegiatan ibadah (thawaf,
                            sa'i,
                            tahallul) dengan syarat dan ketentuan yang telah ditetapkan dalam al-Qur'an maupun sunnah
                            Rasulillah SAW
                        </p>
                    </div>
                </div>
                <div class="cell cell-top left-why hidden-xs">
                    <div class="i-why">
                        <img src="{% static 'images/section1/02.jpg' %}" alt="image1_4x5" />
                    </div>
                </div>
            </div>
        </div>
        <!-- end judul1 -->
        <div class="cell w60">
            <div class="bdr-why"></div>
        </div>
        <!-- judul2 -->
        <div class="cell xs20 product-animated-right">
            <div class="tbl">
                <div class="cell cell-top right-why">
                    <div class="i-why">
                        <img src="{% static 'images/section1/02.jpg' %}" alt="image2_4x5" />
                    </div>
                </div>
                <div class="cell cell-top">
                    <div class="t-why">Hukum</div>
                    <div>
                        <p>
                            1. &emsp;Umroh yang pertama kali dilakukkan seorang muslim
                        </p><br />
                        <p>
                            2. &emsp;Umroh yang dilakukan Karena nazar seseorang
                        </p><br />
                        <p>
                            3. &emsp;Umroh yang dilakukan dalam rangkaian ibadah haji
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end judul2 -->
    </div>
    <div class="tbl marginwhy">
        <!-- judul3 -->
        <div class="cell product-animated-left">
            <div class="tbl r-why">
                <div class="cell cell-top xs20 cell-why">
                    <div class="i-why hidden-sm hidden-md hidden-lg">
                        <img src="{% static 'images/section1/02.jpg' %}" alt="image3_4x5" />
                    </div>
                    <div class="t-why">Rukun</div>
                    <div align="left">
                        <p>
                            1. &emsp;<strong class="text-strong">Berihram</strong> serta niat umrah dari miqat yang
                            ditentukan
                        </p><br />
                        <p>
                            2. &emsp;<strong class="text-strong">Tawaf</strong> - mengelilingi ka’bah sebanyak 7x
                            putaran
                        </p><br />
                        <p>
                            3. &emsp;<strong class="text-strong">Sai</strong> - berlari kecil dari bukit shafa dan
                            berakhir di bukit marwah sebanyak 7x balikan
                        </p><br />
                        <p>
                            4. &emsp;<strong class="text-strong">Tahallul</strong> - mencukur sebagian rambut sebagai
                            tanda berakhir ibadah umrah
                        </p>
                    </div>
                </div>
                <div class="cell cell-top left-why hidden-xs">
                    <div class="i-why">
                        <img src="{% static 'images/section1/02.jpg' %}" alt="image3_4x5" />
                    </div>
                </div>
            </div>
        </div>
        <!-- end judul3 -->
        <div class="cell w60">
            <div class="bdr-why"></div>
        </div>
        <!-- judul4 -->
        <div class="cell xs20 product-animated-right">
            <div class="tbl">
                <div class="cell cell-top right-why">
                    <div class="i-why">
                        <img src="{% static 'images/section1/02.jpg' %}" alt="image4_4x5" />
                    </div>
                </div>
                <div class="cell cell-top">
                    <div class="t-why">Wajib</div>
                    <div>
                        <p>
                            &bull; &emsp;Berihram dari miqat
                        </p>
                        <p>
                            &bull; &emsp;Meninggalkan larangan ihram
                        </p>
                        <p>
                            &bull; &emsp;Tawaf wada
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end judul4 -->
    </div>
</div>