/*
*
* iPhone 3G/3GS > 480 x 320
* Meizu M8 > 720 x 480 
* Google Nexus one > 800 x 480
* iPad > 1024 x 768
*
*/

@media screen and (max-width:2000px) {
    .tn3-thumbs, .tn3-thumbs > div {
        width: 858px !important;
    }
    .tn3-next, .tn3-prev {
        opacity: 0 !important;
        display: none !important;
    }
}

@media screen and (max-width: 1200px) {
    #footer_logo {
        display: none;
    }
    #copyright > div > p {
        text-align: center;
    }
    #copyright > div.span3 > p {
        float: none !important;
    }

    /*
    .max1201 {
        display: none;
    }
    .max1200 {
        display: block !important;
    }
    */
    .footer {
        padding: 20px 15px !important;
    }
    .footer .support {
        text-align: center !important;
        width: 100% !important;
        margin-left: 0px !important;
    }
    /*
    .footermenu-max1201 {
        display: none;
    }
    .footermenu-max1200 {
        display: block !important;
    }
    */
}

@media screen and (max-width:1199px) {    
    .src {
        top: 175px !important;
    }
    .tn3-thumbs, .tn3-thumbs > div {
        width: 688px !important;
    }
	.wrapperPr {
		top: 10px !important;
	}
}

@media screen and (max-width:1197px){
    /*
    .max1201 {
        display: none;
    }
    .max1200 {
        display: block !important;
    }
    .footermenu-max1201 {
        display: none;
    }
    .footermenu-max1200 {
        display: block !important;
    }
    */
    #logo, #logo > div {
        margin-top: 5px;
    }
    #menu ul.max1201 li a {
        padding: 30px 41px 24px !important;
    }
}

@media screen and (max-width: 980px) {
    #logo img {
        margin-top: 7px;
    }
	
    .src {
        top: 145px !important;
    }
    .welcome {
        background: #fff !important;
    }
    .welcome .span3 {
        width: 100% !important;
        padding: 20px 15px !important;
    }
    .signup .span12 {
        padding: 20px 15px !important;
    }
    .tn3-thumbs, .tn3-thumbs > div {
        width: 526px !important;
    }
	.wrapperPr {
		top: 22px !important;
	}
}

@media screen and (max-width:979px) {
    .src {
        top: 115px !important;
    }
    .tn3-thumbs, .tn3-thumbs > div {
        display: none !important;
    }
    .tn3-next, .tn3-prev {
        opacity: 1 !important;
        display: block !important;
    }
	.buttonpdf {
		bottom: -70px !important;
		right: 7px !important;		
	}
	.productDetail {
		padding: 75px 35px 35px !important;	
	}
    /*
    #menu ul.max1201 li a {
        padding: 30px 23px 24px !important;
    }
    */
    #menu ul.max1201 li a {
        padding: 30px 24px 24px !important;
    }
}

@media screen and (max-width: 780px) {
    #copyright-gositus {
        display: inline-block !important;
    }
    .iklan a {
        text-align:center;
    }
    #input_destination {
        width:97.7% !important;
    }
}

@media screen and (min-width:770px) {
    .departure-list.active, .departure-list:hover {
        left: -10px;
		transition: left ease-in-out .5s;
    }
}

/* mobile view ~ start */
@media screen and (max-width:770px) {
    
    
    #sliderContainer .ws_thumbs {
        display: none;
    }
    #map_canvas {
        display: none;
    }
	
    .src {
        position: inherit !important;
        padding-top: 25px;
    }
    .src h2, .src p {
        color: #666666 !important;
		text-shadow: none !important;
    }
    .title > h1, .title > ul {
        float: none;
        width: 100%;
    }
    .bookingForm > .row-fluid > div > div > .transformSelect, .bookingForm > .row-fluid > div > div > div > .transformSelect, .bookingForm .date_of_birth > div.transformSelectspan4 select {
        width: 98% !important;
    }
    .bookingForm > .row-fluid > div > div > div > input[type="text"] {
        width: 96% !important;
    }
    .productList {
        padding: 0 11px 40px;
    }
    
    .stepForm > .row-fluid > div > div > div > input[type="text"] {
        width: 96.7% !important;
    }
    
    .bgLimited, .bgHotOffer {
        left: 0px !important;
    }
    .welcomeWrap .src form > div {
        margin-left: 0px !important;
    }
    .welcomeWrap .src form {
        background: none !important;
        border: none !important;
        border-radius: 0px !important;
        padding: 0px !important;
    }
    .welcomeWrap .src .row-fluid .span12 {
        background: url("../images/layout/bgSrc.png") repeat;
        border: 1px solid #DEDEDE;
        border-radius: 3px;
        padding: 20px 15px;
    }
    .padding {
        padding: 0px 15px;
    }
	.ket div {
		margin: 10px !important;	
	}
	.wrapperPr {
		display: none !important;
	}
}

@media screen and (max-width:950px) {
    #asiaeropawrap > div, #featured > div {
        padding: 5px 15px !important;
    }
    .max1201 {
        display: none;
    }
    .max1200 {
        display: block !important;
    }
}

@media screen and (max-width:760px) {
    .textContent {
        padding: 3px 15px !important;
    }
    .detailContent > div {
        padding: 0px 15px !important;
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .src .span4 {
        width: 30% !important;
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .person p.span4 {
        height: 51px;
    }
    .money p.span4 {
        height: 63px;
    }
}

@media (max-width:430px) {
    #summary > div > div.row-fluid > div.span8 > div > h3 {
        float: none !important;
    }
    #summary > div > div.row-fluid > div.span8 > div > div.fright {
        float: none !important;
        margin-bottom: 20px;
    }
    #summary > div > div.row-fluid > div.span8 > div > div.fright > div {
        float: left !important;
        margin-top: 0px !important;
    }
}
/* mobile view ~ end */

/* title home ~ start */
@media screen and (max-width:2000px) {
    .stickem.stickit {
        width: 1170px;
    };
}

@media screen and (max-width:1199px) {
    .stickem.stickit {
        width: 940px;
    }
}

@media screen and (max-width: 980px) {
    .stickem.stickit {
        width: 724px;
    }
}

@media screen and (max-width: 770px) {
    .stickem.stickit {
        width: 100%;
    }
    .stickit .title {
        margin-left: 15px;
        margin-right: 15px;
    }
    .stickit {
        left: 0px;
    }
}




@media (max-height:510px) {
	.popup { top:10% !important; }	
    .headerPopupBook { display:none; }
}



/* title home ~ end */