.box-pop.active-contact {
    height: 520px;
    overflow-x: hidden;
    overflow-y: scroll;
}

input.input-pop.error {
    border-bottom-color: #c42126 !important;
}

label.error {
    color: #c42126 !important;
    margin-top: 5px;
    font-weight: normal;
    font-size: 12px
}

.bg-instagram {
    height: 100%; 
    width: 100%; 
    background-size: cover !important;
}